.wholething {
    background-color: rgb(236, 238, 243);
    margin-top: 10%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 9%;
    padding-right: 9%;
    transition-duration: 0.4s;
}

.wholething:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}

body {
    background-image: linear-gradient(to bottom right, rgb(104, 88, 243), rgb(94, 27, 156));
    padding-bottom: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    border-radius: 10px;
    background-color: rgb(104, 88, 243);
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 12px;
    transition: 0.4s;
    color: rgb(236, 238, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 12%;
}

.button-container:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
  }

.question-container {
    display: flex;
    text-shadow: 0px 6px 12px rgba(13, 13, 13, 0.148);
    color: rgb(65, 63, 63);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10%;
}

.score-container {
    display: flex;
    text-shadow: 0px 6px 12px rgba(13, 13, 13, 0.148);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-container {
    text-shadow: 0px 6px 12px rgba(13, 13, 13, 0.148);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-container {
    box-shadow: 0 12px 16px 0 rgba(13, 13, 13, 0.042), 0 17px 50px 0 rgba(13, 13, 13, 0.068);
}